{:hooks {:analyze-call {clara.rules/defquery hooks.clara-rules/analyze-defquery-macro
                        clara.rules/defrule hooks.clara-rules/analyze-defrule-macro
                        rules.core/defun hooks.gateless-rules/analyze-defun-macro
                        rules.core/defn hooks.gateless-rules/analyze-defun-macro
                        rules.core/defdata hooks.gateless-rules/analyze-defdata-macro
                        rules.data/defun hooks.gateless-rules/analyze-defun-macro
                        rules.data/defn hooks.gateless-rules/analyze-defun-macro
                        rules.data/defdata hooks.gateless-rules/analyze-defdata-macro}}}
