{:skip-comments true
 :lint-as {clojure.tools.macro/defsymbolmacro clojure.core/def
           clara.rules/defsession clojure.core/def
           rules.test-utils/deftestquery clojure.core/def
           rules.test-utils/deftestmultiquery clojure.core/def
           hiccup.def/defhtml clojure.core/defn
           hiccup.def/defelem clojure.core/defn
           diehard.core/defcircuitbreaker clojure.core/def
           diehard.core/defratelimiter clojure.core/def
           diehard.core/defretrypolicy clojure.core/def
           diehard.core/defbulkhead clojure.core/def
           clara.rules.platform/eager-for clojure.core/for
           http-client.core/def-http-method clojure.core/declare}
 :config-in-call {clojure.tools.macro/defsymbolmacro {:ignore [:unresolved-symbol
                                                               :unresolved-var]}
                  core/guard {:ignore [:unresolved-symbol
                                       :unresolved-var]}
                  core/unguard {:ignore [:unresolved-symbol
                                         :unresolved-var]}}
 :linters {:unresolved-var {:exclude [taoensso.carmine
                                      clj-commons.digest/md2
                                      clj-commons.digest/md5
                                      clj-commons.digest/sha
                                      clj-commons.digest/sha-1
                                      clj-commons.digest/sha-224
                                      clj-commons.digest/sha-256
                                      clj-commons.digest/sha-384
                                      clj-commons.digest/sha-512
                                      clj-commons.digest/sha1
                                      clj-commons.digest/sha3-224
                                      clj-commons.digest/sha3-256
                                      clj-commons.digest/sha3-384
                                      clj-commons.digest/sha3-512
                                      digest/md2
                                      digest/md5
                                      digest/sha
                                      digest/sha-1
                                      digest/sha-224
                                      digest/sha-256
                                      digest/sha-384
                                      digest/sha-512
                                      digest/sha1
                                      digest/sha3-224
                                      digest/sha3-256
                                      digest/sha3-384
                                      digest/sha3-512]}
           :unresolved-symbol {:exclude [clara.rules/query
                                         clara.rules/fire-rules
                                         clara.rules/mk-session
                                         clara.rules/defrule
                                         clara.rules/defquery
                                         clara.rules/retract!
                                         clara.rules/insert!
                                         clara.rules/insert-all!
                                         clara.rules/insert-unconditional!
                                         clara.rules/insert-all-unconditional!]}}
 :hooks {:macroexpand {rules.test-utils/bind-test-ns-and-rule-sources hooks.gateless/bind-test-ns-and-rule-sources}
         :analyze-call {clara.rules/defquery hooks.clara-rules/analyze-defquery-macro
                        clara.rules/defrule hooks.clara-rules/analyze-defrule-macro
                        clara.rules.dsl/parse-query hooks.clara-rules/analyze-parse-query-macro
                        clara.rules.dsl/parse-rule hooks.clara-rules/analyze-parse-rule-macro
                        clara.tools.testing-utils/def-rules-test hooks.clara-rules/analyze-def-rules-test-macro
                        rules.core/defun hooks.gateless/analyze-defun-macro
                        rules.core/defn hooks.gateless/analyze-defun-macro
                        rules.core/defdata hooks.gateless/analyze-defdata-macro
                        rules.data/defun hooks.gateless/analyze-defun-macro
                        rules.data/defn hooks.gateless/analyze-defun-macro
                        rules.data/defdata hooks.gateless/analyze-defdata-macro
                        rules.accumulators.overlay/updates-> hooks.gateless/analyze-overlay-updates-macro
                        aws-client.xray/with-segment hooks.gateless/analyze-with-aws-xray-macro
                        aws-client.xray/with-subsegment hooks.gateless/analyze-with-aws-xray-macro
                        aws-client.xray/with-sql-query-subsegment hooks.gateless/analyze-with-aws-xray-macro
                        aws-client.xray/with-http-request-subsegment hooks.gateless/analyze-with-aws-xray-macro
                        stubby.core/with-http-server! hooks.gateless/analyze-stub-with-http-server-macro}}}
